/*.widget {*/
/*padding: 30px 0 0;*/
/*}*/

.widget-tag-cloud ul {
    padding: 0;
    margin: 0;
    margin-right: -10px;
    padding-top: 10px;
}

.widget-tag-cloud ul li {
    /*background: #00ABA9;*/
    list-style-type: none;
    font-size: 11px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    padding: 1px 3px;
    background: #f3e5c8;

}

.side-bar-box {
    padding-top: 60px;
}

.side-bar-box .sbar-title {
    font-size: 1.4em;
    text-align: center;
}

.side-bar-box .sbar-content {
    padding-top: 20px;
}

.block #search_box {
    position: relative;
    padding-top: 25px;
}

.block #search_icon {
    position: absolute;
    bottom: 0;
}

.block #search_form_box {
    margin-left: 50px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    padding-bottom: 11px;
}

.block #search_form_box #searchform #search_content {
    border: 0;
    background-color: transparent;
    width: 95%;
    color: #555454;
    height: 25px;
}

.searchform {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#searchform input[type=search] {
    width: 100%;
    border: none;
    left: 0;
    padding: 10px 30px 10px 10px;
    z-index: 99;
}



