{% load staticfiles %}

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>HaoZhiqing's Website</title>
    <meta name="description" content="">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href={% static 'blog/css/new.css' %}>
    <link rel="stylesheet" href={% static 'blog/css/colorful.css' %}>
    <link rel="stylesheet" media="screen" href="{% static 'blog/css/superfish.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/nivo-slider.css' %}" media="all"/>
    <link rel="stylesheet" href="{% static 'blog/css/tweet.css' %}" media="all"/>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" media="all" href="{% static 'blog/css/lessframework.css' %}"/>

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
</head>

<!-- HEADER -->
<header>
    <!-- header wrapper -->
    <div class="wrapper cf">
        <div id="logo">
            <a href="/"><img src="{% static 'blog/img/logo1.png' %}" alt=""/></a>
        </div>
    </div><!-- ENDS header wrapper -->
    <!-- nav -->
    <nav class="cf">
        <div class="wrapper cf">
            <ul id="nav" class="sf-menu">
                <li id="g-1"><a href="/">INDEX<i><b></b></i></a></li>
                <li id="g-2"><a href="/page">PAGE<i><b></b></i></a>
                    <ul>
                        <li><a href="/page">Columns</a></li>
                        {#                        <li><a href="{% url 'page-typography' %}">Typography</a></li>#}
                        {#                        <li><a href="{% url 'page-elements' %}">Elements</a></li>#}
                    </ul>
                </li>
                <li id="g-3"><a href="/blog">BLOG<i><b></b></i></a></li>
                <li id="g-4"><a href="/Gallery">GALLERY<i><b></b></i></a></li>
                <li id="g-5"><a href="/contact">CONTACT<i><b></b></i></a></li>
            </ul>
            {#            <div id="combo-holder"></div>#}
        </div>
    </nav>
    <!-- ends nav -->
</header>
<!-- ENDS HEADER -->
<body>
{% block content %}
{% endblock %}
</body>

<footer>
    <!-- wrapper -->
    <div class="wrapper cf">
        <!-- social -->
        <div class="sb-holder cf">
            <ul id="social-bar" class="cf">
                <li><i></i></li>
                <li><a href="" title="Wechat"><img
                        src="{% static 'blog/img/social/GitHub.png' %}" alt="Facebook"/></a></li>
                <li>
                    <a href="Mailto:ttykowlu@126.com?CC=ttykowlu@126.com&BCC=ttykowlu@126.com&Subject=Hello&Body=你好"><img
                            src="{% static 'blog/img/social/Mail.png' %}" alt="twitter"/></a></li>
                <li><a href="https://www.instagram.com/Jut_Leon" title="Add to the circle"><img
                        src="{% static 'blog/img/social/Instagram.png' %}" alt="Ins"/></a></li>
                <li class="right-corner"><i></i></li>
            </ul>
        </div>
        <!-- ENDS social -->
        <!-- widgets -->
        <ul class="widget-cols cf">
            <li class="first-col">

                <div class="widget-block">
                    <h4>FOOTER</h4>
                </div>
            </li>
        </ul>
        <!-- ENDS widgets -->
        <div id="footer-bottom"><a target="_blank"
                                   title="footer">{{ title }}sdsd</a></div>
    </div>
    <!-- ENDS wrapper -->

</footer>

<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->

{% block js %}

{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'blog/js/jquery-1.7.1.min.js' %}"><\/script>')</script>

<!-- scripts concatenated and minified via build script -->
<script src="{% static 'blog/js/custom.js' %}"></script>
<script src="{% static 'blog/js/modernizr-2.5.3.min.js' %}"></script>
<!-- superfish -->
<script src="{% static 'blog/js/superfish-1.4.8/js/hoverIntent.js' %}"></script>
<script src="{% static 'blog/js/superfish-1.4.8/js/superfish.js' %}"></script>
<script src="{% static 'blog/js/superfish-1.4.8/js/supersubs.js' %}"></script>
<!-- ENDS superfish -->

<script src="{% static 'blog/js/tweet/jquery.tweet.js' %}"></script>
<script src="{% static 'blog/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'blog/js/jquery.nivo.slider.js' %}"></script>
<script src="{% static 'blog/js/css3-mediaqueries.js' %}"></script>
<script src="{% static 'blog/js/tabs.js' %}"></script>
<script src="{% static 'blog/js/poshytip-1.1/src/jquery.poshytip.min.js' %}"></script>
<!-- end scripts -->

</body>
</html>
