{% extends "blog/base_generic.html" %}

{% load staticfiles %}
{% block content %}
<!-- MAIN -->
<div role="main" id="main">
    <div class="wrapper">

        <!-- page-content -->
        <div class="page-content">

            <h2 class="heading">About Me</h2>
            <div class="aboutme">

                <p class="aaa">
                    欢迎你来到我的网站
                </p>

                <div class="feature-image">
                    <img src="{% static 'blog/img/smile.jpg' %}">
                    <p>
                        <br>

                    </p>
                    <div class="lists-check">
                        <ul>
                            <li>Python开发者，学习Django写了这个网站</li>
                            <br>
                            <li>爱运动，好创作，瞎折腾</li>
                            <br>
                            <li>网站会记录一些对技术的思考与生活分享</li>
                            <br>
                            <li>如果对于本站有什么意见或建议，可以通过留言或邮件反馈 </li>
                        </ul>
                    </div>

                    <p class="email">
                        <br>
                        Email ： hoozing@foxmail.com
                        <br>
                    </p>
                </div>


                <h2 class="heading">Contact Form</h2>
                <!-- form -->
                <form id="contactForm" action="{% url 'message:message' %}" method="post">
                    <fieldset>

                        <p>
                            <label for="{{ form.name.id_for_label }}">Name</label>
                        <p>{{ form.name }}</p>
                        <span>{{ form.name.errors }}</span>
                        </p>

                        <p>
                            <label for="{{ form.email.id_for_label }}">Email</label>
                        <p>{{ form.email }}</p>
                        <span>{{ form.email.errors }}</span>

                        </p>

                        <p>
                            <label for="{{ form.web.id_for_label }}">Website</label>
                            {{ form.web }}
                            {{ form.web.errors }}
                        </p>

                        <p>
                            <label for="{{ form.content.id_for_label }}">Message</label>
                        <p>{{ form.content }}</p>
                        <span>{{ form.content.errors }}</span>
                        </p>

                        <!-- send mail configuration -->
                        <input type="hidden" value="your@email.com" name="to" id="to"/>
                        <input type="hidden" value="ENter the subject here" name="subject" id="subject"/>
                        <input type="hidden" value="send-mail.php" name="sendMailUrl" id="sendMailUrl"/>
                        <!-- ENDS send mail configuration -->

                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" value="Submit">
                        </p>
                        {% csrf_token %}
                    </fieldset>
                </form>
                {# <p id="sent-form-msg" class="success">Form data sent. Thanks for your comments.</p>#}
                <!-- ENDS form -->
                <div class="c-1"></div>
                <div class="c-2"></div>
                <div class="c-3"></div>
                <div class="c-4"></div>
            </div><!-- ENDS page-content -->


        </div>
    </div>
</div>
<!-- ENDS MAIN -->
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#g-5").addClass("current-menu-item");
    });
</script>
{% endblock %}