{% extends "blog/base_generic.html" %}

{% load staticfiles %}
{% block content %}
    <!-- MAIN -->
    <div role="main" id="main">
        <div class="wrapper">

            <!-- SLIDER -->
            <div class="slider-wrapper theme-default theme-project theme-home">
                <div class="ribbon"></div>
                <div id="slider" class="nivoSlider">
                    <img src="{% static 'blog/img/main_pic/flow_1.jpg' %}" alt=""/>
                    <img src="{% static 'blog/img/main_pic/flow_2.jpg' %}" alt=""/>
                    <img src="{% static 'blog/img/main_pic/flow_3.jpg' %}" alt=""/>
                </div>
            </div>
            <!-- ENDS SLIDER -->

            <!-- headline -->
            <div class="headline">
               <br>  Welcome visit my website <br>and wish you have a good time !<br><br>
            </div>
            <!-- ENDS headline -->

            <!-- Feature -->
            <ul class="feature-2 row" style="position: relative">
                {% for post in post_list|slice:":2"  %}
                    <li>
                        <a href="{{ post.get_absolute_url }}" class="thumb"><img src="{{ post.image.thumb_url }}"
                                                                                 alt=""/>
                            <div class="date"><span class="d">{{ post.time.day }}</span><span
                                    class="m">{{ post.get_time }}</span></div>
                        </a>
                        <div class="caption">{{ post.title }}</div>
                    </li>
                {% endfor %}

            </ul>

            <ul id="filter-container-feature" class="feature">
                {% for gallery in gallery_list %}
                    <li>
                        <a href="{{ gallery.get_absolute_url }}" class="thumb"><img
                                src="{{ gallery.imagemodel_set.all.0.image.thumb_url }}" alt=""/>
                            <div class="date"><span class="d">{{ gallery.time.day }}</span><span
                                    class="m">{{ gallery.get_month }}</span></div>
                        </a>
                        <div class="caption">{{ gallery.title }}</div>
                    </li>

                {% endfor %}
            </ul>


            <!-- ENDS feature -->


        </div>
    </div>
    <!-- ENDS MAIN -->
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-1").addClass("current-menu-item");
        });
    </script>
{% endblock %}
