{% extends "blog/base_generic.html" %}

{% load staticfiles %}
{% block content %}
    <!-- MAIN -->
    <div role="main" id="main">
        <div class="wrapper">

            <!-- page-content -->
            <div class="page-content">

                <!-- entry-content -->
                <div class="entry-content cf">

                    <h2>正在建设中。。。</h2>
                    <p>

                    </p>
                    
                </div>
                <!-- ENDS entry-content -->

                <div class="c-1"></div>
                <div class="c-2"></div>
                <div class="c-3"></div>
                <div class="c-4"></div>
            </div><!-- ENDS page-content -->


        </div>
    </div>
    <!-- ENDS MAIN -->
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-2").addClass("current-menu-item");
        });
    </script>
{% endblock %}